<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>
        <!--用户名, 会出现在网页源码中-->
        {# 用户名 来自服务器端的注释, 不会出现在网页源码中 #}
        <span>欢迎登录，{{ user.username }}</span>
        {% if user.avatar %}
        <img src="{{ user.avatar }}" alt="">
        <a href="/logout">注销</a>
        {% else %}
        <a href="/login">登录</a>
        <a href="/register">注册</a>
        {% endif %}
    </div>
    <div>
        <a href="/topic">话题</a>
        <!-- <a href="/board">版块</a> -->
    </div>
</body>

</html>