<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>lalala</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
</head>

<body>
    <div id="canvas"></div>
    <div id="wrapper">
        <div id="header">
            {% if user.id == -1 %}
            <a href="/login">登录</a>
            {% else %}
            <a href="/logout">退出</a>
            {% endif %}
        </div>
        <div id="main">
            <div id="sidebar">
                <div class="panel">
                    <div class="header">
                        个人信息
                    </div>
                    <div class="inner">
                        欢迎登录，{{ user.username }} {% if user.id != -1 %}
                        <img src="{{ user.avatar }}" alt="">
                        <div>
                            <a href="/topic/new" class="create_topic_btn">
                                <span class="span-success">发布话题</span>
                            </a>
                            {% if user.role == 1%}
                            <a href="/board/" class="create_topic_btn">
                                <span class="span-success">模板管理</span>
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div id="content">
                <div class="panel">
                    <div class="header">
                        <a href="/topic" class="topic-tab current-tab">
                            全部
                        </a>
                        {% for b in boards %} {% if b.id == board_id %} {% set cls = 'current-tab' %} {% else %} {% set cls = '' %} {% endif %}
                        <a href="/topic?board_id={{ b.id }}" class="topic-tab {{ cls }}">
                            {{ b.title }}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="inner post">
                        <div class="topic_list">
                            {% for t in topics %}
                            <div class="cell">
                                <div class="topic_title_wrapper">
                                    <a class="topic_title" href="/topic/detail/{{ t.id }}">
                                        {{ t.title }}
                                    </a>
                                    <span>{{ t.replies() | length }} / {{ t.views }}</span>
                                    <span class="time">{{ t.ut }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/canvas/global.js"></script>
    <script src="/static/js/canvas/testData.js"></script>
    <script src="/static/js/utils/ajax.js"></script>
    <script>
        (function () {
            ajaxK('GET', '/api/topic/all', '', (res) => {
                console.log('callback--->', res)
            })

        })()
    </script>
    <script>
            (function () {
                var choosed = JSON.parse(localStorage.getItem('choosed')) || {};
                var speed = function () {
                    return [0.1 * Math.random() + 0.01, -(0.1 * Math.random() + 0.01)];
                };
                var getKey = function (item) {
                    return item.name + '-' + item.phone;
                };
                var createHTML = function () {
                    var html = ['<ul>'];
                    member.forEach(function (item, index) {
                        item.index = index;
                        var key = getKey(item);
                        var color = choosed[key] ? 'yellow' : 'white';
                        html.push('<li><a href="#" style="color: ' + color + ';">' + item.name + '</a></li>');
                    });
                    html.push('</ul>');
                    return html.join('');
                };


                console.log('width->', $("#header").width())
                var w = $("#header").width()
                var canvas = document.createElement('canvas');
                canvas.id = 'myCanvas';
                canvas.width = w;
                canvas.height = w / 4 * 3;
                document.getElementById('canvas').appendChild(canvas);

                canvas.innerHTML = createHTML();
                TagCanvas.Start('myCanvas', '', {
                    textColour: null,
                    initial: speed(),
                    dragControl: 1,
                    textHeight: 14
                });


                var editor = new Editor();
                editor.render($('.editor')[0]);
            })();
    </script>
</body>

</html>